<h1>Mysongs#index</h1>

<div class="container">
  <h2>Mis canciones: </h2>             
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Duracion (in sec)</th>
        <th>Género</th>
      </tr>
    </thead>
    <tbody>
    <% @mysongs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.duration %> s</td>
        <td><%= song.genre %></td>
        <% if can? :deletesong, song %>
          <td><%= link_to "delete", deletesong_path(song), method: :post  %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>